@font-face {
    font-family: capicon;
    src: url(/capicon.eot?v160810);
    src: url(/capicon.eot?v160810#iefix) format("embedded-opentype"), url(/capicon.ttf?v160810) format("truetype"), url(/capicon.woff?v160810) format("woff"), url(/capicon.svg?v160810#capicon) format("svg");
    font-weight: 400;
    font-style: normal
}

.aq_icon {
    font-family: capicon !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

[class*=" aq_icon_"]:before, [class^=aq_icon_]:before {
    margin: 0
}

.aq_icon_refresh {
    font-size: 23px;
    color: #b3b3b3
}

.aq_icon_feedback {
    font-size: 24px;
    color: #b3b3b3
}

.aq_icon_unchoosen {
    color: #cdcdcd;
    font-size: 17px
}

.aq_icon_choosen {
    color: #1a79ff;
    font-size: 17px
}

.aq_icon_close {
    color: #ccc;
    font-size: 14px
}

.aq_icon_shield {
    font-size: 49px;
    color: #1a79ff
}

.aq_icon_logo {
    font-size: 26px;
    color: #1a79ff
}

.aq_icon_arrows, .aq_icon_shield_click {
    font-size: 20px;
    color: #fff
}

.aq_icon_ok, .aq_icon_va_arrow {
    font-size: 26px;
    color: #1a79ff
}

.aq_icon_va_loading {
    font-size: 24px;
    color: #1a79ff
}

.aq_icon_va_ok {
    font-size: 26px;
    color: #1a79ff
}

.aq_icon_vryFeedback {
    font-size: 24px;
    color: #1a79ff
}

.aq_icon_vryLogo {
    font-size: 26px;
    color: #1a79ff
}

.aq_icon_vrySuccess .path1, .aq_icon_vrySuccess .path2 {
    font-size: 22px;
    color: #1a79ff
}

.aq_icon_vrySuccess .path2 {
    margin-left: -1em
}